{% extends "header10.html" %}

{% load static %}

{% block content %}
    
<h3>DEED DETAILS</h3>

  <a class="btn btn-primary mb-3" href="{% url 'deedsview' %}">
    <i class="fa fa-list"></i> Deeds Added
</a>
 
<div class="container" style="display: flex;">
  
  <!-- Left Side -->
  <div style="flex: 1; padding-right: 20px;">
    <p><strong>Employer Number:</strong> {{ deed.nssf_no }}</p>
    <p><strong>Employer Name:</strong> {{ deed.employer_name }}</p>
    <p><strong>Scope Start Date:</strong> {{ deed.From_Date }}</p>
    <p><strong>Scope End Date:</strong> {{ deed.To_Date }}</p>
    <p><strong>Date of First Installment:</strong> {{ deed.First_Installment_Date }}</p>
    <p><strong>Date of Second Installment:</strong> {{ deed.Second_Installment_Date }}</p>
    <p><strong>Branch:</strong> {{ deed.Branch }}</p>
  </div>
  
  <!-- Right Side -->
  <div style="flex: 1; padding-left: 20px;">
    <p><strong>Team Leader:</strong> {{ deed.team_leader }}</p>
    <p><strong>Recorded by:</strong> {{ deed.user.username }}</p>
    <p><strong>Deed Source:</strong> {{ deed.Deed_source }}</p>
    <p><strong>Legacy Status:</strong> {{ deed.Legacy_status|yesno:"Yes,No" }}</p>
    <p><strong>Signed Deed:</strong> {{ deed.Signed_Deed|yesno:"Yes,No" }}</p>
    <p><strong>Created Date:</strong> {{ deed.date_created }}</p>
    <p><strong>Updated Date:</strong> {{ deed.date_updated }}</p>
  </div>
</div>
{% if attachments %}
    <p><strong>Attachments:</strong></p>
    <ul>
    {% for attachment in attachments %}
        <li><a href="{{ attachment.file.url }}" download>{{ attachment.file.name }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

<h3>Review History</h3>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>User</th>
      <th>Comment</th>
      <th>Action</th>

    </tr>
  </thead>
  <tbody>
    {% for log in logs %}
    <tr>
      <td>{{ log.created_at }}</td>
      <td>{{ log.user }}</td>
      <td>{{ log.remark }}</td>
      <td>{{ log.action }}</td>
      <td>

      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% if deed.state == 'forwarded' %}
  <form method="POST">
    {% csrf_token %}

    <!-- <div class="form-group">
      <label for="action">Action:</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="action" id="cancelAction" value="cancel">
        <label class="form-check-label" for="cancelAction">
          Cancel Deed record
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="action" id="forwardAction" value="forward">
        <label class="form-check-label" for="forwardAction">
          Forward Deed for review
        </label>
      </div>
    </div>
    <div id="reviewerField" style="display: none;">
      <div class="form-group">
        <label for="reviewer">Reviewer:</label>
        <select class="form-control" name="reviewer" id="reviewer">
          {% for user in supervisors %}
            <option value="{{ user.id }}">{{ user.username }}</option>
          {% endfor %}
        </select>
      </div>
    </div> -->
    <!-- <button class="btn btn-primary" type="submit">Submit</button> -->
  </form>
{% endif %}






{% if deed.state == 'forwarded' %}
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="remark">Remark:</label>
      <textarea class="form-control" name="remark" id="remark"></textarea>
    </div>
    <div class="form-group">
      <label for="action">Action:</label>
      <select class="form-control" name="action" id="action">
        <option value="approve">I confirm and approve this deed</option>
        <option value="reject">Reject deed record</option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
{% endif %}

<script>
    const cancelAction = document.getElementById('cancelAction');
    const forwardAction = document.getElementById('forwardAction');
    const reviewerField = document.getElementById('reviewerField');
  
    cancelAction.addEventListener('change', function() {
      reviewerField.style.display = 'none';
    });
  
    forwardAction.addEventListener('change', function() {
      reviewerField.style.display = 'block';
    });
  </script>


<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

{% endblock %}
