<!-- employer_details.html -->

{% extends "header10.html" %}

{% load static %}

{% block content %}
    
<h3>EMPLOYER ENGAGEMENT DETAILS</h3>

<p><strong>Employer Number:</strong> {{ engagement.nssf_no }}</p>
<p><strong>Employer Name:</strong> {{ engagement.employer_name }}</p>
<p><strong>Recorded at:</strong> {{ engagement.modified_at }}</p>
<p><strong>Action date:</strong> {{ engagement.action_date }}</p>
<p><strong>Recorded by:</strong> {{ engagement.user }}</p>
<p><strong>Activity Done:</strong> {{ engagement.activity_done }}</p>
<p><strong>Status:</strong> {{ engagement.state }}</p>
<p><strong>Reviewer:</strong> {{ engagement.reviewer }}</p>
<p><strong>Comment:</strong> {{ engagement.comment }}</p>

{% if attachments %}
    <p><strong>Attachments:</strong></p>
    <ul>
    {% for attachment in attachments %}
        <li><a href="{{ attachment.file.url }}" download>{{ attachment.file.name }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

<h3>Review History</h3>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>User</th>
      <th>Comment</th>
      <th>Action</th>

    </tr>
  </thead>
  <tbody>
    {% for log in logs %}
    <tr>
      <td>{{ log.created_at }}</td>
      <td>{{ log.user }}</td>
      <td>{{ log.remark }}</td>
      <td>{{ log.action }}</td>
      <td>

                

      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>



{% endblock %}

