{% extends "header12.html" %}

{% load static %}
{% load widget_tweaks %}
{% block content %} 

<style>
    .custom-submit-btn {
      background-color: #bfcecebe; /* Replace with your desired color code */
      color: #090909; /* Replace with the desired text color for the button */
      /* Add any additional styles you want for the button */
    }
  </style>

  <body>
    <div class="container stu mt-5">

        {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger text-center">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-success text-center">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        {% endif %}



        <div class="row">
            <div class="col-sm-12 text-left py-8">

                
                <div class="alert alert-info text-center" style="font-weight: bold;">Record Capture</div>

                
                <form method="POST" enctype="multipart/form-data" action="{% url 'gencase' %}" novalidate>     
                    {% csrf_token %}
                    
                    {{ fm.id }}


                    <div class="col-sm-6">
                        {% for form in fm %}
                        {% if form.name != 'id' and form.name != 'reviewer' and form.name != 'attachments' %}
                            <div class="mb-3 form-iteration">
                                <label class="form-label">{{ form.label }}<strong style="color: red;">*</strong></label>
                                {{ form |add_class:"form-control"  }}
                                <div class="invalid-feedback">
                                    {{ form.errors }}
                                </div>
                            </div>
                        {% endif %}
                        {% endfor %}

                        <div class="mb-3 form-iteration">
                            <label class="form-label">Attachments</label>
                            <div class="attachments">
                                {{ fm.attachments }}
                            </div>
                            <button type="button" class="btn btn-primary btn-sm mt-2" onclick="addAttachmentField()">Add Attachment</button>
                            {% for attachment in fm.attachments.value %}
                                <a href="{{ attachment.file.url }}" download>{{ attachment.file.name }}</a><br>
                            {% endfor %}
                        </div>
                        <button class="btn btn-lg custom-submit-btn" type="submit">Submit</button>
                    </div>
                    
                    
                </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script>
        function addAttachmentField() {
            var attachmentsDiv = document.querySelector('.attachments');
            var newAttachmentField = document.createElement('input');
            newAttachmentField.type = 'file';
            newAttachmentField.name = 'attachments';
            newAttachmentField.className = 'form-control-file mb-2';
            newAttachmentField.accept = '.pdf,.doc,.docx,.txt';
            attachmentsDiv.appendChild(newAttachmentField);
        }

        document.getElementById('id_nssf_no').addEventListener('blur', function() {
            var nssfNo = this.value;
            var employerNameInput = document.getElementById('employerNameInput');
            if (nssfNo !== '') {
                // Send an AJAX request to retrieve the employer name based on the NSSF number
                // Replace the AJAX request URL with your actual URL for retrieving employer name
                var url = '/get_employer_name/?nssf_no=' + nssfNo;
                fetch(url)
                    .then(response => response.text())
                    .then(data => {
                        employerNameInput.value = data;
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            } else {
                employerNameInput.value = '';
            }
        });
    </script>

{% endblock %}