<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style>
    .sidebar {
      width: 200px;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #f8f9fa;
      padding: 20px;
    }

    .content {
      margin-left: 200px;
      padding: 20px;
    }
  </style>
  {% block styles %}{% endblock %}
</head>
<body>
  <!-- Sidebar -->
  <div class="sidebar">
    <h5>Tasks</h5>
    <ul>
      <li><a href="/register">Register</a></li>
      <li><a href="/efc">Employer closure</a></li>
      <li><a href="/close">Close</a></li>
      <li><a href="/vq">All cases</a></li>
      <li><a href="/sview">Supervisor</a></li>
      <li><a href="/lmview">Line manager</a></li>
      <li><a href="/asgnedview">Assigned</a></li>
      <li><a href="/logz">Logs</a></li>
      <li><a href="/all">All employers</a></li>
    </ul>
  </div>

  <!-- Content -->
  <div class="content">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Welcome, {{user.username}}</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    {% block content %}
    {% endblock %}
  </div>

  <!-- Optional Javascript -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
