{% extends "header13.html" %}

{% load static %}

{% block content %}

<h1>Detail</h1>
<p><strong>Employer Number:</strong> {{ forclosure.nssf_no }}</p>
<p><strong>Employer:</strong> {{ forclosure.employer_name }}</p>
<p><strong>State:</strong> {{ forclosure.state }}</p>
<p><strong>Created at:</strong> {{ forclosure.updated_at }}</p>
<p><strong>Lat updated at:</strong> {{ forclosure.created_at }}</p>

<p><strong>Remark:</strong> {{ forclosure.remark }}</p>
<p><strong>Reason:</strong> {{ forclosure.reason }}</p>
<p><strong>Initiator:</strong> {{ forclosure.user }}</p>

{% if attachments %}
    <p><strong>Attachments:</strong></p>
    <ul>
    {% for attachment in attachments %}
        <li><a href="{{ attachment.file.url }}" download>{{ attachment.file.name }}</a></li>
    {% endfor %}
    </ul>
{% endif %}



{% if forclosure.state == 'initiated' or forclosure.state == 'resubmited' %}
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="review_comment">review_comment:</label>
      <textarea class="form-control" name="review_comment" id="review_comment"></textarea>
    </div>
    <div class="form-group">
      <label for="action">Action:</label>
      <select class="form-control" name="action" id="action">
        <option value="first_review">Approve request as supervisor</option>
        <option value="reverse">Return to initiator</option>
        <option value="reject">Reject closure request</option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
{% endif %}




<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

{% endblock %}
