{% extends "header12.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<style>
    /* Adjust the border width and color for the table */
    table.table {
        border: none;
    }

    /* Adjust the border width and color for the table cells */
    table.table td,
    table.table th {
        border: none;
    }

    /* Remove the default table cell padding */
    table.table td,
    table.table th {
        padding: 0;
    }
</style>
{% endblock %}

{% block content %}
<div class="container stu mt-7">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success text-center">
        {{ message }}
    </div>
    {% endfor %}
    {% endif%}


        

    <div class="col-sm-16 p-5">
        <div class="alert alert-info text-center">{{ headline }}</div>
        <table id="order-table" class="table table-striped">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Reference date</th>
                    <th>Recorded at</th>
                    <th>Comment</th>                     
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for data in gendata %}
                <tr>
                    <td>
                        <a href="case_details/{{ data.id }}/" class="text-primary">{{ data.subject }}</a>
                    </td>



                    <td class="nowrap">{{ data.action_date }}</td>
                    <td class="nowrap">{{ data.modified_at }}</td>

                    <td class="nowrap">{{ data.comment|truncatechars:25 }}</td>
                    <td class="nowrap">{{ data.state }}</td>                 

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>




{% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        // Custom sorting function for datetime column
        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "datetime-pre": function(a) {
                return new Date(a).getTime();
            },

            "datetime-asc": function(a, b) {
                return a - b;
            },

            "datetime-desc": function(a, b) {
                return b - a;
            }
        });

        $('#order-table').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "columnDefs": [
                { "type": "datetime", "targets": 2 } // Set the datetime sorting type for the 'Created at' column
            ],
            "order": [[2, 'desc']] // Specify the column index for ordering (2 for the 'Created at' column)
        });
    });
</script>
{% endblock %}



