{% extends "header15.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<style>
    /* Table Styles */
    table.table {
        border: none;
        width: 100%;
    }

    table.table td,
    table.table th {
        border: none;
        font-size: 14px;
        padding: 8px;
        text-align: left;
    }

    /* Responsive layout */
    .container {
        max-width: 90%;
        margin: 10px auto;
        
    }

    /* Bordered columns for details and forms */
    .bordered-col {
        border: 1px solid #ddd;
        padding: 15px;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
        margin-bottom: 20px;
    }

    /* Heading styles */
    h1, h2 {
        color: #333;
        font-size: 24px;
        margin-bottom: 15px;
        text-align: center;
    }

    p {
        margin-bottom: 10px;
    }

    /* Buttons */
    .btn {
        background-color: #4CAF50;
        color: white;
        padding: 8px 16px;
        font-size: 14px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .btn:hover {
        background-color: #45a049;
    }

    /* Alert styles */
    .alert {
        font-size: 14px;
        padding: 10px;
        border-radius: 5px;
    }

    /* Form Styles */
    form {
        padding: 15px;
    }

    form input,
    form select,
    form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }

    @media (max-width: 767.98px) {
        .bordered-col {
            margin-bottom: 15px;
        }

        h1, h2 {
            font-size: 20px;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %} text-center">
            {{ message }}
        </div>
    {% endfor %}
  {% endif %}

    <div class="row">
        <!-- Whistleblower details -->
        <div class="col-lg-8 col-md-6 bordered-col">
            <h2>Whistleblower Details</h2>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th style="white-space: nowrap;">Key</th>
                        <td>{{ whistleblower.key }}</td>
                    </tr>
                    <tr>
                        <th style="white-space: nowrap;">NSSF Number</th>
                        <td>{{ whistleblower.nssf_number }}</td>
                    </tr>
                    <tr>
                        <th style="white-space: nowrap;">Type</th>
                        <td>{{ whistleblower.type }}</td>
                    </tr>
                    <tr>
                        <th style="white-space: nowrap;">Company Number</th>
                        <td>{{ whistleblower.company_number }}</td>
                    </tr>
                    <tr>
                        <th style="white-space: nowrap;">Company Name</th>
                        <td>{{ whistleblower.company_name }}</td>
                    </tr>
                    <tr>
                        <th style="white-space: nowrap;">Created On</th>
                        <td>{{ whistleblower.created_on }}</td>
                    </tr>
                    <tr>
                        <th style="white-space: nowrap;">Short Title</th>
                        <td>{{ whistleblower.short_title }}</td>
                    </tr>
                    <tr>
                        <th style="white-space: nowrap;">Description</th>
                        <td>{{ whistleblower.description }}</td>
                    </tr>
                    <tr>
                        <th style="white-space: nowrap;">Other Info</th>
                        <td>{{ whistleblower.other_info }}</td>
                    </tr>
                    <tr>
                        <th style="white-space: nowrap;">Auditor Name</th>
                        <td>{{ whistleblower.auditor_name }}</td>
                    </tr>
                    <tr>
                        <th style="white-space: nowrap;">Profile</th>
                        <td>{{ whistleblower.case_profiling_result }}</td>
                    </tr>

                    <tr>
                        <th style="white-space: nowrap;">CRM case number</th>
                        <td>{{ whistleblower.CRM_case_number }}</td>
                    </tr>
                    <tr>
                        <th style="white-space: nowrap;">Status</th>
                        <td>{{ latest_status }}</td>
                    </tr>

                    <tr></tr>
                        <th style="white-space: nowrap;">Review Status</th>
                        <td>{{ review_status2 }}</td>
                    </tr>
                    
                    <tr>
                        <th style="white-space: nowrap;">Confirmed Status</th>
                        <td>{{ confirmed_status2 }}</td>
                    </tr>
                    <tr>
                        <th style="white-space: nowrap;">Status Comment</th>
                        <td>{{ comment2 }}</td>
                    </tr>
                    <tr>
                    
                    <th style="white-space: nowrap;">Attachments</th>
                    <td>
                    {% for attachment in attachments %}
                    <li><a href="{{ attachment.file.url }}" download>{{ attachment.file.name }}</a></li>
                    {% endfor %}

                </tbody>
            </table>
        </div>

        <!-- Close Whistleblower Case Form -->
        <div class="col-lg-4 col-md-6 bordered-col">
            <h1>Update Status of Whistleblower Case</h1>
            <form method="post" enctype="multipart/form-data"> <!-- Added enctype -->
                {% csrf_token %}

                <div class="mb-3">
                    <label for="id_status" class="form-label">Status:</label>
                    <select name="status" id="id_status" required>
                        <option value="" disabled selected>Select case status</option>
                        <option value="audit_ongoing">Audit Ongoing</option>
                        <option value="deed_signed">Deed Signed</option>
                        <option value="under_legal">Under Legal</option>
                        <option value="direct_demand">Direct Demand</option>
                        <option value="fully_settled">Fully Settled</option>
                    </select>
                </div>
                

                <div>
                    <label for="id_comment">Comment:</label><br>
                    <textarea name="comment" id="id_comment" rows="4" cols="50" required></textarea>
                </div>


                <div class="mb-3 form-iteration">
                    <label class="form-label">Attachments</label>
                    <div class="attachments">
                        {{ form.attachments }}
                    </div>
                    <button type="button" class="btn btn-primary btn-sm mt-2" onclick="addAttachmentField()">Add Attachment</button>
                    {% for attachment in form.attachments.value %}
                        <a href="{{ attachment.file.url }}" download>{{ attachment.file.name }}</a><br>
                    {% endfor %}
                </div>
           




                <div class="text-center">
                    <button type="submit" class="btn">Submit Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script>
    function addAttachmentField() {
        var attachmentsDiv = document.querySelector('.attachments');
        var newAttachmentField = document.createElement('input');
        newAttachmentField.type = 'file';
        newAttachmentField.name = 'attachments';
        newAttachmentField.className = 'form-control-file mb-2';
        newAttachmentField.accept = '.pdf,.doc,.docx,.txt';
        attachmentsDiv.appendChild(newAttachmentField);
    }

    // Existing JavaScript for other functionalities
</script>
{% endblock %}
