{% extends "header15.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<style>
    /* Adjust the border width and color for the table */
    table.table {
        border: none;
    }

    /* Adjust the border width and color for the table cells */
    table.table td,
    table.table th {
        border: none;
    }

    /* Remove the default table cell padding */
    table.table td,
    table.table th {
        padding: 0;
    }
</style>
{% endblock %}

{% block content %}
<div class="container stu mt-7">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success text-center">
        {{ message }}
    </div>
    {% endfor %}
    {% endif%}



        

    <div class="col-sm-16 p-5">
        <div class="alert alert-info text-center">All whistleblower cases</div>
        <table id="order-table" class="table table-striped">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Type</th>
                    <th>Employer Number</th>
                    <th>Employer Name</th>
                    <th>Member Number</th>
                    <th>Date Created</th>                    
                    <th>Status</th>
                    <th>Feedback</th>
                    <th>Close Case</th>                    
                    <th>Review</th>
                    <th>Profile</th>
                </tr>
            </thead>
            <tbody>
                {% for data in wbdata %}
                <tr>
                    <td>
                        <a href="editwb/{{ data.id }}/" class="text-primary">{{ data.key }}</a>
                    </td>
                    <td class="nowrap">{{ data.type }}</td>


                    <td class="nowrap">{{ data.company_number|truncatechars:25 }}</td>
                    <td class="nowrap">{{ data.company_name|truncatechars:25 }}</td>
                    
                    <td class="nowrap">{{ data.nssf_number|truncatechars:25 }}</td>
                    
                    <td class="nowrap">{{ data.date_submitted }}</td>
                    

                    <td class="nowrap">{{ data.latest_status }}</td>
                    <td><a href="editwb/{{data.id}}/" class="btn btn-success btn-sm mx-1">Feedback</a></td>
                    <td><a href="closewb/{{data.id}}/" class="btn btn-success btn-sm mx-1">Close case</a></td>
                    <td><a href="review_closure/{{data.id}}/" class="btn btn-success btn-sm mx-1">Review case</a></td>
                    <td><a href="profile/{{data.id}}/" class="btn btn-success btn-sm mx-1">Profile case</a></td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>




{% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        // Custom sorting function for datetime column
        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "datetime-pre": function(a) {
                return new Date(a).getTime();
            },

            "datetime-asc": function(a, b) {
                return a - b;
            },

            "datetime-desc": function(a, b) {
                return b - a;
            }
        });

        $('#order-table').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "columnDefs": [
                { "type": "datetime", "targets": 2 } // Set the datetime sorting type for the 'Created at' column
            ],
            "order": [[2, 'desc']] // Specify the column index for ordering (2 for the 'Created at' column)
        });
    });
</script>
{% endblock %}



