





{% extends "header19.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<style>
    /* Adjust the border width and color for the table */
    table.table {
        border: none;
    }

    /* Adjust the border width and color for the table cells */
    table.table td,
    table.table th {
        border: none;
        font-size: 15px;
    }

    /* Remove the default table cell padding */
    table.table td,
    table.table th {
        padding: 0;
        font-size: 15px;
    }

    /* Add borders to the columns under col-sm-4 and col-sm-8 */
    .bordered-col {
        border: none; /* Make the border invisible */
        
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 20px;
        overflow: auto; /* Enable overflow scrolling */
        max-height: 900px; /* Set a maximum height for the container to trigger scrolling */
        max-width: 100%
    }

    /* Ensure content fits on one page */
    .container {
        overflow-x: hidden;
    }

    /* Adjust the width of the container if needed */
    .container {
        max-width: 95%; /* Change the max-width value if necessary */
    }

    /* Prevent text wrapping in table cells */
    .table-container table td,
    .table-container table th {
        white-space: nowrap;
    }

    /* Adjust button size */
    .btn {
        font-size: 10px;
        padding: 4px 8px; /* Adjust padding to fit smaller buttons */
        /* line-height: 1; /* Ensure button height matches font size */
    } */

    /* Override Bootstrap styles for smaller screens */
    @media (max-width: 767.98px) {
        .col-sm-4,
        .col-sm-7 {
            padding: 5px;
            margin-bottom: 10px;
        }
    }
    /* Add space below the form */
    .my-form {
        margin-bottom: 30px; /* Adjust the value to control the space */
    }

</style>
{% endblock %}

{% block content %}
<div class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success text-center">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <div class="row">

        <div class="col-sm-11 bordered-col mx-3">
            <div class="table-container">
                


                <div style="background-color: rgb(203, 206, 211); padding: 10px; text-align: left; font-weight: bold; font-size: 18px;">
                    <h6 style="margin: 0;">Suspense Summary Per Employer</h6>
                </div>

                <form method="GET" action="" class="my-form">
                    <div class="input-group flex-nowrap">
                        <!-- Manually render the form field -->
                        <!-- <input type="text" class="form-control" id="id_q" name="q" placeholder="Search by employer name or employer NSSF number" aria-label="Name" aria-describedby="name-addon" value="{{ search_form.q.value|default:'' }}"> -->

                        <input type="text" class="form-control" id="id_q" name="q" placeholder="Search by employer name or employer NSSF number" aria-label="Name" aria-describedby="name-addon" value="{{ query }}">                        

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary" id="name-addon">Search records</button>
                    </div>
                </form>
                

                <!-- Your Table -->
                <table id="ordertable2" class="table table-striped">

                    <thead>
                        <tr>
                            
                            <th>Employer No</th>
                            <th>Employer Name</th>
                            <th>Suspense</th>
                            <th>Records</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Periods</th>
                            <th>TIN</th>                            
                            <th>Compare</th>                            
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in search_results %}
                        <tr>
                            <td>{{ data.employerno }}</td>
                            <td>{{ data.employer_name }}</td>
                            <td>{{ data.total_suspense_contr }}</td>
                            <td>{{ data.records_count }}</td>
                            <td>{{ data.from_date|date:"m-Y" }}</td>
                            <td>{{ data.to_date|date:"m-Y" }}</td>
                            <td>{{ data.scope_months }}</td>
                            <td>{{ data.tin.tin }}</td>
                            <td>
                                <!-- <a href="{% url 'susp_comp2' %}?nssfno={{ data.employerno }}&tin={{ data.tin.tin }}&from_date={{ data.from_date|date:'Y-m-d'}}&to_date={{ data.to_date|date:'Y-m-d'}}"
                                   class="btn btn-primary btn-sm">
                                    Compare
                                </a> -->

                                <a href="{% url 'susp_comp2' %}?nssfno={{ data.employerno }}&tin={{ data.tin.tin }}&from_date={{ data.from_date|date:'Y-m-d'}}&to_date={{ data.to_date|date:'Y-m-d'}}&process=no"
                                class="btn btn-primary btn-sm">
                                 Compare
                             </a>
                             



                            </td>                               








                        {% empty %}
                        <tr>
                            <td colspan="5">No results found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        // Custom sorting function for datetime column
        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "datetime-pre": function(a) {
                return new Date(a).getTime();
            },
            "datetime-asc": function(a, b) {
                return a - b;
            },
            "datetime-desc": function(a, b) {
                return b - a;
            }
        });

        $('#order-table').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true, // Enable responsive mode
            "columnDefs": [
                { "type": "datetime", "targets": 2 } // Set the datetime sorting type for the 'Created at' column
            ],
            "order": [[2, 'desc']] // Specify the column index for ordering (2 for the 'Created at' column)
        });

        $('#ordertable2').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true, // Enable responsive mode
            "columnDefs": [
                { "type": "datetime", "targets": 2 } // Set the datetime sorting type for the 'Created at' column
            ],
            "order": [[2, 'desc']] // Specify the column index for ordering (2 for the 'Created at' column)
        });
    });
</script>
{% endblock %}

