{% extends "headerlegal.html" %}

{% load static %}
{% load humanize %}
{% block styles %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">

<style>
    thead th {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: #f8f9fa;
    }

    table.dataTable {
        width: 105%;
        white-space: nowrap;
   

    }

    .d-flex {
        margin-top: 50px;
        margin-left: 30px;
    }

    .alert {
        width: 105%;
    }
    



</style>
{% endblock %}

{% block content %}
<div class="container mt-5">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success text-center">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <div class="col-sm-12 p-3">
        <div class="alert alert-info text-center flex-grow-1">{{ headline }}</div>
        <table id="legal-files-table" class="table table-striped table-bordered" data-toggle="table">
            <thead>
                <tr>
                    
                    <th>NSSF Number</th>
                    <th>Employer Name</th>
                    <th>Date Created</th>
                    <th>Case Status</th>
                    <th>Legal Status</th>
                    <th>Total Arrears</th>
                  
                  
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for file in legaldata %}
                <tr>
                    
                    <td>{{ file.nssf_number }}</td>
                    <td>{{ file.employer_name|truncatechars:25 }}</td>
                    <td>{{ file.date_received }}</td>
                    <td>{{ file.case_status }}</td>
                    <td>{{ file.get_current_legal_status }}</td>
                    <!-- <td>{{ file.comments.last.legal_status  }}</td> -->
                    <td>{{ file.total_arrears|intcomma }}</td>
                    
                    <td>
                        <a href="{% url 'details_offiles' file.id %}" class="text-danger ml-2" title="view">
                            <i class="fas fa-eye"></i>
                        </a>
                       
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#legal-files-table').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "order": [[3, 'desc']] // Sort by 'Date Created' column (index 3)
        });
    });
</script>
{% endblock %}
